<section style="height: 600px">
  <h1>{{ 'login.title' | translate }}</h1>
  <hr>
  <form #partForm="ngForm" *ngIf="!(authService.user | async)">
    <div class="form_group row">
      <div class="col-25">
        <label for="email">Email: </label>
      </div>
      <div class="col-75">
        <input type="text" id="email" name="email" [(ngModel)]="email" required>
      </div>
    </div>
    <div class="form_group row">
      <div class="col-25">
        <label for="password">{{ 'login.password' | translate }}: </label>
      </div>
      <div class="col-75">
        <input type="password" id="password" name="password" [(ngModel)]="password">
      </div>
    </div>
    <div class="form_group row">
      <button type="button" (click)="signup()" [disabled]="!email || !password">
        {{ 'login.signup' | translate }}
      </button>
      <button type="button" (click)="login()" [disabled]="!email || !password">
        {{ 'login.login' | translate }}
      </button>
    </div>
    <div class="form_group row">
      <button class="loginBtn loginBtn--facebook" (click)="loginWithFacebook()">
        {{ 'login.facebook' | translate }}
      </button>
      <button class="loginBtn loginBtn--google" (click)="loginWithGoogle()">
        {{ 'login.google' | translate }}
      </button>
    </div>
  </form>
</section>
