<section>
  <h1 *ngIf="authService.user | async">{{ 'home.welcome' | translate }} {{ (authService.user | async)?.email }}!</h1>

  <h2>{{ 'home.select-prod' | translate }}</h2>
  <hr>
  <form #homeForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form_group row">
      <div class="col-25">
        <label for="name">{{ 'home.name' | translate }}: </label>
      </div>
      <div class="col-75">
        <select id="name" name="name" [(ngModel)]="selectedProductIndex" required>
          <option [value]="null" selected>{{ 'home.select' | translate }}</option>
          <option *ngFor="let product of productList; let i=index" [ngValue]="i">{{product.name}}</option>
        </select>
      </div>
    </div>
    <div class="form_group row">
      <div class="col-25">
        <label for="amount">{{ 'home.amount' | translate }}: </label>
      </div>
      <div class="col-75">
        <div class="col-50">
          <input type="number" id="amount" name="amount" min="0" required
                 oninput="validity.valid||(value='');" [(ngModel)]="productAmount" style="width: 190px">
        </div>
        <div class="col-50"><button type="submit" [disabled]="!homeForm.valid">{{ 'home.decrease' | translate }}</button></div>
      </div>
    </div>
  </form>

  <br><br>

  <h2>{{ 'home.stocks' | translate }}</h2>
  <hr>
  <input type="text" id="myInput" (keyup)="search()" placeholder="{{ 'home.search' | translate }}">
  <div class="table-scroll-xl">
    <table id="myTable">
      <thead>
      <tr>
        <th width="55%">{{ 'home.name' | translate }}</th>
        <th width="15%">{{ 'home.stock' | translate }}</th>
        <th width="15%">{{ 'home.critical' | translate }}</th>
        <th width="15%"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let part of partList">
        <td><p>{{part.name}}</p></td>
        <td>{{part.stock}}</td>
        <td>{{part.critical}}</td>
        <td>
          <div *ngIf="part.stock <= part.critical">
            <span>❌❗</span>
            <div class="control">
              <img class="update_item" src="assets/plus.svg" style="padding-top: 5px" routerLink="/part">
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</section>

